@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,400);

* {
  font-family: 'Roboto Mono', monospace;
}


body {
  background: url('bg2.svg') left   #EEEEEE;
  background-position-y: -50px;
  font-size: 10pt;
  font-weight: 300;
  line-height: 1.7em;
}

a {
  font-weight: 400;
  color: #EF2C00;
  -webkit-transition: all 0.5s ease-out;
}

a:hover {
  color: #EEEEEE;
  text-decoration: none;
}



abbr {
  text-decoration: none;
}

header {
  transition: margin 0.5s ease 0s;
}

h1 {
  transition: font-size 0.5s ease 0s;
}

.page-wrapper {
  background: #FFFFFF;
  border: 0px solid #0000FF;
  box-shadow: 6px 6px #0000FF;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
  padding: 40px;
  position: relative;
  border-top-right-radius: 30px 30px;
}


h1 {
  /* background-color: #0000FF; */
  background: url('rect3.svg') #0000FF;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-y: 30px;
  background-size: cover;
  text-transform: uppercase;
  text-shadow: 3px 3px #FFFFFF;
  color: #0000FF;
  -webkit-text-stroke: 1px #FFFFFF;
  font-size: 3.3em; 
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0;
  border-top-right-radius: 30px 30px;
  line-height: 1em;
  font-weight:400;
}

h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 20px;
  text-transform: lowercase;
  color: #EF2C00;
  text-align: right;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 15px;
  border-bottom: 1px solid #0000FF;
  color: #0000FF;
}

.summary {
  border-bottom: 1px solid #0000FF;
  padding-top: 0;
  padding-bottom: 20px;
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  color: #0000FF;
}

.preamble {
  border-bottom: 1px solid #0000FF;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}


#zen-supporting {
  text-align: justify;
  display: inline-block;
  border-bottom: 1px solid #0000FF;
}


.explanation {
  text-align:left;
  width: 100%;
  border-bottom: 1px solid #0000FF;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}


.participation {
  text-align:left;
  width: 100%;
  border-bottom: 1px solid #0000FF;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}


.benefits {
  text-align:left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #0000FF;
}


.requirements {
  text-align:left;
  width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
}
footer {
  border-top: 1px solid #0000FF;
  position:absolute;
  right: 40px;
  bottom: 40px;
  width: auto;
  text-align: right;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper {
  text-align: justify;
}

.design-selection {
  text-align: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

.design-archives {
  text-align: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  vertical-align: middle;
}

.zen-resources {
  text-align: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom:60px;
  display: inline-block;
}


ul {
  padding-left: 15px;
  list-style-type: square;
}

p[role=contentinfo] {
  font-weight: 400;
  border-top: 1px solid #0000FF;
  padding-top: 20px;
  margin-top: 40px;
}

@media screen and (min-width: 700px) {
  body {
    margin-top: 40px;
    margin-bottom: 40px;    
  }

  header {
    margin: -40px;
    margin-bottom: 0px;
    height: 100%;
  }

  h1 {
    font-size: 10em;
    padding-top: 200px;
    padding-bottom: 100px; 
    -webkit-text-stroke: 4px #FFFFFF;
    font-weight: 400;
    text-shadow: 6px 6px #FFFFFF;
  }

  h2 {
    font-size: 2em;
    padding: 30px;
    margin-bottom: 10px;
  }

  .summary {
    width:36%;
    display: inline-block;
    border-top: 1px solid #0000FF;
    border-bottom: none;
    vertical-align: middle;
    margin-top: 50px;
  }

  .preamble {
    width:60%;
    display: inline-block;
    margin-left:10px;
    vertical-align: middle;
  }
  .preamble h3 {
    margin-top: 0px;
  }

  #zen-supporting {
    margin-top: 30px;
  }

  .explanation {
    width:48%;
  }

  .participation {
    width:48%;
  }

  .benefits {
    width:35%;
  }

  .requirements {
    width:59%;
  }

  .design-selection {
    width:50%;
    vertical-align: top;
  }

  .design-archives {
    width: 40%;
    vertical-align: top;
  }

  .zen-resources {
    width: 30%;
    vertical-align: top;
  }
}

@media screen and (min-width: 1200px) {

  h1 {
    font-size: 15em;
    padding-top: 100px;
    padding-bottom: 100px; 
    -webkit-text-stroke: 6px #FFFFFF;
    font-weight: 400;
    text-shadow: 6px 6px #FFFFFF;
  }

  h2 {
    font-size: 2.5em;
    padding: 30px;
    margin-bottom: 30px;
    letter-spacing: 3px;
  }

  .page-wrapper {
    width: 900px;
  }

  .design-selection {
    width: 36%;
    vertical-align: top;
  }

  .design-archives {
    width: 30%;
    vertical-align: top;
  }

  .zen-resources {
    width: 30%;
    vertical-align: top;
  }

}

wrapper {
  text-align: left;
}